<h2>Edycja rangi</h2>
<form [formGroup]="_editRankForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <input formControlName="name" matInput placeholder="Nazwa" />
  </mat-form-field>
  <mat-checkbox class="full-width" formControlName="isDefault">Domyślna</mat-checkbox>
  <mat-form-field class="full-width">
    <span matPrefix style="padding-right: 5px;">$</span>
    <input formControlName="salary" type="number" matInput placeholder="Wypłata" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-select formControlName="rights" placeholder="Uprawnienia" multiple>
      <mat-option [value]="1">Wpłata/Wypłata środków</mat-option>
      <mat-option [value]="2">Rekrutacja</mat-option>
      <mat-option [value]="4">Zamawianie</mat-option>
      <mat-option [value]="8">Otwieranie/Zamykanie drzwi</mat-option>
      <mat-option [value]="16">Czat</mat-option>
      <mat-option [value]="32">Wysyłanie ofert</mat-option>
      <mat-option [value]="64">Czat</mat-option>
      <mat-option [value]="128">Czat</mat-option>
      <mat-option *ngFor="let rank of (_ranks | async)" [value]="rank.id">{{rank.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <button type="submit" mat-button>
    Zapisz
  </button>
</form>
