.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #e4e4e4 !important;
  // font-weight: 300;
  
  .emoji{
    font-size: 13vh;
    padding-bottom: 5vh;
  }

  .message{
    text-transform: uppercase;
    font-size: 2.5vh;
  }
}