<h2>Edytuj pojazd</h2>
<mat-form-field class="full-width">
  <input [(ngModel)]="vehicleModel.numberPlate" matInput placeholder="Rejestracja" />
</mat-form-field>
<mat-form-field class="full-width">
  <input [(ngModel)]="vehicleModel.name" matInput placeholder="Nazwa" />
</mat-form-field>
<mat-form-field class="full-width">
  <input [(ngModel)]="vehicleModel.vehicleHash" type="number" matInput placeholder="Id konta" />
</mat-form-field>
<mat-form-field class="full-width">
  <input matInput placeholder="Model" [matAutocomplete]="auto" [formControl]="vehicleCtrl">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let vehicle of filteredVehicles | async" [value]="vehicle.displayName">
      <img class="vehicle-img" aria-hidden [src]="'https://v-rp.pl/uploads/vehicles/' + vehicle.displayName + '.jpg'" height="25">
      <span>{{vehicle.displayName}}</span> |
      <small>Skrót: {{vehicle.id}}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<button mat-button (click)="saveHandler()">
  Zapisz
</button>
