.card {
  max-width: 200px;
  max-height: 300px;
  display: inline-block;
  margin: .4em .2em;
  text-align: center;

  h4 {
    margin-top: 1vh;
  }
}

.card:hover {
  background-color: rgba(210, 210, 210, 0.2);
  cursor: pointer;
}

.loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-toolbar {
  mat-icon {
    margin-right: 2px;
  }
}

.title {
  margin: 1vh;
}
