<player-navigation></player-navigation>

<div *ngIf="!_dataReady" class="loading">
  <div>
    <mat-spinner [strokeWidth]="3" [diameter]="100"></mat-spinner>
  </div>
</div>

<div [hidden]="!_dataReady">
  <h3 class="title">Moje postacie</h3>
  <mat-card class="card" *ngFor="let character of _playerCharacters" (click)="openDetails(character)">
    <mat-card-content>
      <mat-icon>person</mat-icon>
      <h4>{{character.name}} {{character.surname}}</h4>
      <p>{{character.playedTime}}</p>
    </mat-card-content>
  </mat-card>
</div>
