<mat-toolbar>
  <button mat-button [routerLink]="['/groupmanagement', _groupId, 'info']">
    <mat-icon>info</mat-icon>
    Informacje
  </button>
  <button mat-button [routerLink]="['/groupmanagement', _groupId, 'staff']">
    <mat-icon>people</mat-icon>
    Personel
  </button>
  <button mat-button [routerLink]="['/groupmanagement', _groupId, 'ranks']">
    <mat-icon>class</mat-icon>
    Rangi
  </button>
  <button mat-button [routerLink]="['/groupmanagement', _groupId, 'properties']">
    <mat-icon>home</mat-icon>
    Nieruchomości
  </button>
  <button mat-button [routerLink]="['/groupmanagement', _groupId, 'vehicles']">
    <mat-icon>directions_car</mat-icon>
    Pojazdy
  </button>
</mat-toolbar>
