<div class="search">
  <mat-form-field appearance="outline">
    <mat-label>Wyszukiwanie</mat-label>
    <input matInput (keyup)="searchHandler($event.target.value)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <button mat-icon-button (click)="addPenaltyClickHandler()">
    <mat-icon>add_box</mat-icon>
  </button>
</div>

<table mat-table [dataSource]="_dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="penaltyType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ kary </th>
    <td mat-cell *matCellDef="let element"> {{element.penaltyType}} </td>
  </ng-container>

  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Powód </th>
    <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data nadania </th>
    <td mat-cell *matCellDef="let element"> ${{element.date}}</td>
  </ng-container>

  <ng-container matColumnDef="expiryDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data wygaśnięcia</th>
    <td mat-cell *matCellDef="let element">{{element.expiryDate}}</td>
  </ng-container>

  <ng-container matColumnDef="creator">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nadawca </th>
    <td mat-cell *matCellDef="let element">
      <p *ngIf="element.creator">{{element.creator.id}} {{element.creator.forumUserName}}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="recipient">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Właściciel </th>
    <td mat-cell *matCellDef="let element">
      <p *ngIf="element.penaltyType == 'Blokada postaci'">{{element.account.id}} {{element.account.forumUserName}} {{element.character.name}} {{element.character.surname}}</p>
      <p *ngIf="element.penaltyType != 'Blokada postaci'">{{element.account.id}} {{element.account.forumUserName}}</p>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="_displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: _displayedColumns;" (click)="editCharacterClickHandler(row)"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
