<h2>Edytuj personel</h2>
<form [formGroup]="_editWorkerForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <input formControlName="name" matInput placeholder="Dane" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <span matPrefix style="padding-right: 5px;">$</span>
    <input formControlName="salary" type="number" matInput placeholder="Wypłata" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-select formControlName="groupRankId" placeholder="Ranga">
      <mat-option *ngFor="let rank of (_ranks | async)" [value]="rank.id">{{rank.name}}</mat-option> 
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-select formControlName="rights" multiple>
      <mat-option [value]="1">Wpłata/Wypłata środków</mat-option>
      <mat-option [value]="2">Rekrutacja</mat-option>
      <mat-option [value]="4">Zamawianie</mat-option>
      <mat-option [value]="8">Otwieranie/Zamykanie drzwi</mat-option>
      <mat-option [value]="16">Czat</mat-option>
      <mat-option [value]="32">Wysyłanie ofert</mat-option>
      <mat-option [value]="32768">Panel</mat-option>
      <mat-option *ngFor="let right of _rights" [value]="right.value">{{right.label}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" mat-button>
    Zapisz
  </button>
</form>
