<div *ngIf="_playerCharacters">
  <mat-toolbar>Moje postacie</mat-toolbar>
  <mat-card class="card character-card" *ngFor="let character of _playerCharacters" (click)="openDetails(character)">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image">
      </div>
      <mat-card-title>
        <span>{{character.name}} {{character.surname}}</span>
      </mat-card-title>
      <mat-card-subtitle>Id konta: {{character.accountId}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-toolbar>Moje grupy</mat-toolbar>
  <p>Brak grup</p>

  <mat-card class="card group-card" *ngFor="let group of _playerGroups">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image" [style.background-image]="group.gImg">

      </div>
      <mat-card-title>{{group.name}}</mat-card-title>
      <mat-card-subtitle>Postać: {{group.member}} </mat-card-subtitle>
    </mat-card-header>

  </mat-card>

  <mat-toolbar>Moje kary</mat-toolbar>
  <p>Brak kar</p>
  <mat-list>
    <mat-list-item *ngFor="let penalty of _playerPenalties"> {{penalty.creatorName}}</mat-list-item>
  </mat-list>
</div>