<div *ngIf="_playerCharacters">
  <mat-toolbar>Moje postacie</mat-toolbar>
  <mat-card class="card character-card" *ngFor="let character of _playerCharacters" (click)="openDetails(character)">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image">
      </div>
      <mat-card-title>
        <span>{{character.name}} {{character.surname}}</span>
      </mat-card-title>
      <mat-card-subtitle>Id konta: {{character.accountId}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-toolbar>Moje grupy</mat-toolbar>
  <p *ngIf="_playerWorkers == undefined">Brak grup</p>

  <mat-card class="card group-card" *ngFor="let worker of _playerWorkers" (click)="openGroupDetails(worker.group.id)">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image" [style.background-image]="worker.group.gImg">

      </div>
      <mat-card-title>{{worker.group.name}}({{worker.group.groupType}})</mat-card-title>
      <mat-card-subtitle>Postać: {{worker.character.name}} {{worker.character.surname}} </mat-card-subtitle>
      <mat-card-subtitle>Typ: {{worker.group.groupType}} </mat-card-subtitle>
    </mat-card-header>

  </mat-card>

  <mat-toolbar>Moje kary</mat-toolbar>
  <p *ngIf="_playerPenalties == undefined">Brak kar</p>
  <mat-list>
    <mat-list-item *ngFor="let penalty of _playerPenalties">
      <mat-icon mat-list-icon>warning</mat-icon>
      <h4 mat-line>Powód: {{penalty.reason}} ({{penalty.penaltyType}})</h4>
      <h3 mat-line> Postać: {{penalty.character.name}} {{penalty.character.surname}}</h3>
      <p mat-line>Nadano: {{penalty.date | date}} przez {{penalty.creator.forumUserName || 'Nieznany'}}({{penalty.creator.serverRank}})</p>
      <p mat-line>Wygasa: {{penalty.expiryDate | date}} </p>
    </mat-list-item>
  </mat-list>
</div>
