<div *ngIf="_playerCharacters">
  <mat-toolbar color="warn">Moje postacie</mat-toolbar>
  <mat-card class="card character-card" *ngFor="let character of _playerCharacters" (click)="openDetails(character)">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image" [style.background-image]="character.characterImage">
      </div>
      <mat-card-title>
        <span matBadge="" matBadgeColor="warn" matBadgeOverlap="false">{{character.name}} {{character.surname}}</span>
      </mat-card-title>
      <mat-card-subtitle>{{character.onlineHours}} h</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-toolbar color="warn">Moje grupy</mat-toolbar>

  <mat-card class="card group-card" *ngFor="let group of _playerGroups">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image" [style.background-image]="group.gImg">

      </div>
      <mat-card-title>{{group.name}}</mat-card-title>
      <mat-card-subtitle>Postać: {{group.member}} </mat-card-subtitle>
    </mat-card-header>

  </mat-card>

  <mat-toolbar color="warn">Moje kary</mat-toolbar>

  <mat-list>
    <mat-list-item *ngFor="let penalty of _playerPenalties"> {{penalty.creatorName}}</mat-list-item>
  </mat-list>
</div>
<div *ngIf="!_playerCharacters" class="not-found-container">
  <span class="not-found-message">
    <mat-icon class="not-found-icon">sentiment_very_dissatisfied</mat-icon>
    Bardzo się staraliśmy, ale nie udało nam się załadować listy Twoich postaci. Spróbuj jeszcze raz.
  </span>
</div>
