table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .search {
    width: 50%;
    display: block;
    margin: 0 auto;
    mat-form-field {
      width: 80%;
    }
  }
  
  .mat-row:hover {
    background-color: rgb(250, 250, 250);
  }
  