<h2>Edytuj postać</h2>
<mat-form-field class="full-width">
  <input [(ngModel)]="characterModel.name" matInput placeholder="Imię" />
</mat-form-field>
<mat-form-field class="full-width">
  <input [(ngModel)]="characterModel.surname" matInput placeholder="Nazwisko" />
</mat-form-field>
<mat-form-field class="full-width">
    <input [(ngModel)]="characterModel.accountId" (blur)="loadAccountHandler($event.target.value)" type="number" matInput placeholder="Id konta" />
    <mat-hint *ngIf="characterModel.account">{{_characterModel.account.forumUserName}}</mat-hint>
</mat-form-field>
<mat-form-field class="full-width">
  <mat-select [(ngModel)]="characterModel.gender" placeholder="Płeć">
    <mat-option *ngFor="let gender of _genders" [value]="gender.value">
      {{gender.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="full-width">
  <input [(ngModel)]="characterModel.bornDate" [matDatepicker]="picker" matInput placeholder="Data urodzenia">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button mat-button (click)="saveHandler()">
  Zapisz
</button>
