<app-group-navigation></app-group-navigation>

<div *ngIf="!_dataReady" class="loading">
  <div>
    <mat-spinner [strokeWidth]="3" [diameter]="100"></mat-spinner>
  </div>
</div>

<div *ngIf="_dataReady" class="main-content">
  <img [src]="_group.imageUploadUrl">
  <button mat-button>Dodaj zdjęcie</button>
  <hr>
  <p><span class="bold">Nazwa</span> {{_group.name}}</p>
  <hr>
  <p><span class="bold">Tag</span> {{_group.tag}}</p>
  <hr>
  <p><span class="bold">Typ grupy</span> {{_group.groupType}}</p>
  <hr>
  <p><span class="bold">Dotacja</span>${{_group.grant}}</p>
  <hr>
  <p><span class="bold">Założyciel</span> {{_group.bossCharacter.name}} {{_group.bossCharacter.surname}}</p>
  <hr>
  <p><span class="bold">Domyślna ranga</span> class="col2"> {{_group.defaultRank.name}}</p>
  <hr>
  <p><span class="bold">Kolor</span> <span [style.color]="'#' + _group.color"> #{{_group.color}}</span></p>
  <hr>
  <p><span class="bold">Konto</span> ${{_group.money}}</p>
</div>
