<mat-toolbar color="warn">Moje postacie</mat-toolbar>
<mat-card class="character-card" *ngFor="let character of playerCharacters">
  <mat-card-header>
    <div mat-card-avatar class="character-header-image"
    [style.background-image]="character.chImage">

  </div>
    <mat-card-title><span matBadge="" matBadgeColor="warn"  matBadgeOverlap="false">{{character.name}} {{character.surname}}</span></mat-card-title>
    <mat-card-subtitle>{{character.onlineHours}} h</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>

<mat-toolbar color="warn">Moje grupy</mat-toolbar>

<mat-card class="group-card" *ngFor="let group of playerGroups">
  <mat-card-header>
    <div mat-card-avatar class="group-header-image"
    [style.background-image]="group.gImg">

  </div>
    <mat-card-title>{{group.name}}</mat-card-title>
    <mat-card-subtitle>Postać: {{group.member}} </mat-card-subtitle>
  </mat-card-header>

</mat-card>

<mat-toolbar color="warn">Moje kary</mat-toolbar>




