mat-sidenav {
  width: 25vh;
  padding: 1.5vh;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}

mat-sidenav-content {
  padding: 1.5vh;
}

.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.avatar {
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
  float: left;
  margin-right: 0.5vh;
}

.player-name {
  font-weight: 900;
}
