<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened>
    <div class="player-info" *ngIf="_accountModel != undefined">
      <img class="avatar" [src]="_accountModel.avatarUrl != undefined ? 'https://forum.v-rp.pl/uploads/' + _accountModel.avatarUrl :
        this._accountService.getGravatarUrl(this._accountModel.email)" />
      <p class="player-name">{{_accountModel.forumUserName}}</p>
      {{_accountModel.serverRank}}
    </div>
    <app-navigation></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>




