<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>account_circle</mat-icon>
      Informacje
    </ng-template>
    <span class="info-container">
      <span class="title">Imię i nazwisko:</span>{{model.name}} {{model.surname}}
    </span>
    <span class="info-container">
      <span class="title">Data urodzenia:</span>{{model.bornDate | date:'mediumDate'}}
    </span>
    <span class="info-container">
      <span class="title">Portfel:</span>${{model.money}}
    </span>
    <span class="info-container">
      <span class="title">Bank:</span>${{model.bankMoney}}
    </span>
    <span class="info-container">
      <span class="title">Ostatnia pozycja:</span>[{{model.lastPositionX}},{{model.lastPositionY}},{{model.lastPositionZ}}]
    </span>
    <span class="info-container">
      <span class="title">Zdrowie:</span>{{model.health}}%
    </span>
    <span class="info-container">
      <span class="title">Płeć:</span>{{model.gender ? 'Mężczyzna' : 'Kobieta'}}
    </span>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>directions_car</mat-icon>
      Pojazdy
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>attach_money</mat-icon>
      Przedmioty
    </ng-template>
  </mat-tab>
</mat-tab-group>
