.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #e4e4e4 !important;
  
  .emoji{
    font-size: 135px;
    padding-bottom: 5vh;
  }

  .message{
    text-transform: uppercase;
    font-size: 23px;
  }
}


@media only screen and (max-width:1650px) {
  .emoji{ font-size: 135px!important; }
  .message{ font-size: 20px!important;}
}

@media only screen and (max-width:1392px) {
  .emoji{ font-size: 100px!important; }
  .message{ font-size: 16px!important;}
}

@media only screen and (max-width:1236px) {
  .emoji{ font-size: 80px!important; }
  .message{ font-size: 14px!important;}
}

@media only screen and (max-width:976px) {
  .emoji{ font-size: 60px!important; }
  .message{ font-size: 12px!important;}
}
