<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>account_circle</mat-icon>
      Informacje
    </ng-template>
    <span class="info-container">
      <span class="title">Nazwa:</span>{{model.name}}
    </span>
    <span class="info-container">
      <span class="title">Typ grupy:</span>{{model.groupType}}
    </span>
    <span class="info-container">
      <span class="title">Tag grupy:</span>{{model.tag}}
    </span>
    <span class="info-container">
      <span class="title">Saldo grupy:</span>${{model.money || 0}}
    </span>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>directions_car</mat-icon>
      Członkowie
    </ng-template>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <ng-container matColumnDef="Postać">
        <th mat-header-cell *matHeaderCellDef> Postać </th>
        <td mat-cell *matCellDef="let element"> {{element.character.name}} {{element.character.surname}} </td>
      </ng-container>


      <ng-container matColumnDef="Pensja">
        <th mat-header-cell *matHeaderCellDef> Pensja </th>
        <td mat-cell *matCellDef="let element"> ${{element.salary}} </td>
      </ng-container>


      <ng-container matColumnDef="Uprawnienia">
        <th mat-header-cell *matHeaderCellDef> Uprawnienia </th>
        <td mat-cell *matCellDef="let element"> {{element.permission}} </td>
      </ng-container>


      <ng-container matColumnDef="Opcje">
        <th mat-header-cell *matHeaderCellDef> Opcje </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button>Wyrzuć</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>directions_car</mat-icon>
      Pojazdy
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>directions_car</mat-icon>
      Budynki
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>attach_money</mat-icon>
      Uprawnienia
    </ng-template>
  </mat-tab>


</mat-tab-group>
