<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>account_circle</mat-icon>
      Informacje
    </ng-template>
    <span class="info-container">
      <span class="title">Imię i nazwisko:</span>{{character.name}} {{character.surname}}
    </span>
    <span class="info-container">
      <span class="title">Data urodzenia:</span>{{character.bornDate | date:'mediumDate'}}
    </span>
    <span class="info-container">
      <span class="title">Portfel:</span>${{character.money}}
    </span>
    <span class="info-container">
      <span class="title">Bank:</span><span *ngIf="character.bankMoney">$</span>{{ character.bankMoney || 'Brak
      konta'}}
    </span>
    <span class="info-container">
      <span class="title">Ostatnia pozycja:</span>[{{character.lastPositionX}}, {{character.lastPositionY}},
      {{character.lastPositionZ}}]
    </span>
    <span class="info-container">
      <span class="title">Zdrowie:</span>{{character.health}}%
    </span>
    <span class="info-container">
      <span class="title">Płeć:</span>{{character.gender ? 'Mężczyzna' : 'Kobieta'}}
    </span>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>directions_car</mat-icon>
      Pojazdy
    </ng-template>
    <mat-list>
      <mat-list-item *ngFor="let vehicle of character.vehicles; let last = last">
        <img mat-list-avatar [src]="getVehicleImageUrl(vehicle.vehicleHash)">
        <h1 mat-line> {{vehicle.name}} </h1>
        <span mat-line>
          HP {{vehicle.health}}% Przebieg {{vehicle.milage}} mi
        </span>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>build</mat-icon>
      Przedmioty
    </ng-template>
    <mat-list>
      <mat-list-item *ngFor="let item of character.items; let last = last">
        <h1 mat-line> {{item.name}} </h1>
        <span mat-line>
          Typ przedmiotu {{item.itemType}}
        </span>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>add_a_photo</mat-icon>
      Zdjęcie
    </ng-template>

    <img *ngIf="character.imageUrl" style="margin: 2vh;" [src]="character.imageUrl" (click)="imageFileInput.click()">
    <input type="file" #imageFileInput (change)="fileChangeEvent($event)" style="display:none;" />

    <div class="upload-info">
      <mat-form-field>
        <mat-label>Zdjęcie z dysku</mat-label>
        <input matInput [disabled]="true">
      </mat-form-field>
      <button mat-raised-button (click)="imageFileInput.click()">Dodaj</button>
    </div>

    <image-cropper *ngIf="onUpload" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3"
      [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)"></image-cropper>

    <span class="info-container">
      <h2 *ngIf="onUpload">Podgląd:</h2>
      <img *ngIf="onUpload" [src]="croppedImage">
    </span>

    <span class="info-container">
      <button *ngIf="onUpload" mat-button (click)="changeCharacterPicture()">Aktualizuj zdjęcie</button>
    </span>

  </mat-tab>

</mat-tab-group>
